version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10
      ignore:
          - dependency-name: "zod"
            update-types: ["version-update:semver-major"]
      groups:
          production-dependencies:
              patterns:
                  - "@modelcontextprotocol/*"
                  - "mssql"
                  - "pg"
                  - "zod"
          dev-dependencies:
              patterns:
                  - "@types/*"
                  - "typescript"
              update-types:
                  - "minor"
                  - "patch"

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
